# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other
notes.txt
accesstoken.txt
assignment2-2c6b0-firebase-adminsdk-9dvth-77d8aa990f.json
